
  # Ignorar carpetas y archivos comunes
.android/
.arduinoIDE/
.bash_history
.dia/
.emulator_console_auth_token
.git-for-windows-updater
.gitconfig
.gradle/
.javacpp/
.lemminx/
.lesshst
.m2/
.matplotlib/
.nbi/
.qt-license
.redhat/
.vscode/
AndroidStudioProjects/
AppData/
Contacts/
Downloads/
Favorites/
GlassFish_Server/
GrumpyAI/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT*
Bloc de notas de Miguel.url
Documents/
Arduino IDE.lnk
CursoWeb/
GitHub Desktop.lnk
Guía_Documentacion.docx
Administracion de BD/
Android/
CuestionarioU3.docx
Full Stack/
GeneracionDeMapasCODE/
Recursos_Material_Y_Notas/
Tareas_Investigaciones.zip
Tareas_Investigaciones/
Lenguajes e Interfaz/
Sistemas Programables/
ProyectosWeb/
*.lnk
*.ini
*.log